<% include header %>
<% if (config['repo']) { %>
    <a href="https://github.com/<%= config['repo'] %>" target="_blank" id="github-ribbon"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
<% } %>

<div class="container-fluid fluid-height wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand pull-left" href="<%= config.site_root %>"><%= config['title'] %></a>
        </div>
    </div>

    <div class="row-fluid columns content">
        <div class="left-column article-tree span3">
            <!-- For Mobile -->
            <div class="responsive-collapse">
                <button type="button" class="btn btn-sidebar" id="menu-spinner-button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="sub-nav-collapse" class="sub-nav-collapse">
                <!-- Navigation -->
                <%- tools.nav(tree, current, config) %>
            </div>
        </div>
        <div class="right-column content-area span9">
            <div class="content-page">
                <article>
                    <%- current.html %>
                </article>
            </div>
        </div>
    </div>
</div>
</body>
<% include footer %>
</html>